.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__title {
  animation: blinking 2s infinite;
}

@keyframes blinking {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}
