.link-editor {
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  max-width: 200px;
  padding: 4px;
  border: 1px solid var(--color-gray-2);
  margin-top: 27px;
  margin-left: -15px;
  background-color: var(--color-white);
  border-radius: 3px;
}

.link-editor > .link-editor__title,
.link-editor > .link-editor__href {
  margin: 2px 0;
}

.link-editor__save-btn {
  margin: 3px auto;
  font-size: 1rem;
}

.link-editor__background {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  opacity: 0.2;
}
