.avatar {
  position: relative;
  width: var(--avatar-size);
  height: var(--avatar-size);
}

.avatar[data-editable='true']::before {
  position: absolute;
  width: calc(var(--avatar-size) + 2px);
  height: calc(var(--avatar-size) + 2px);
  margin: -1px;
  background-color: var(--color-white);
  border-radius: 50%;
  content: '';
  opacity: 0.9;
  transform: scale(0);
  transition: transform 0.2s;
}

.avatar:hover::before {
  transform: scale(1);
}

.avatar__presenter {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.avatar__upload-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  color: var(--color-gray-3);
  font-size: 1.3rem;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
}

.avatar__upload-btn:hover {
  color: var(--color-gray-3);
}

.avatar__remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  background: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 var(--color-gray-0);
  color: var(--color-gray-3);
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.avatar:hover > .avatar__upload-btn,
.avatar:hover > .avatar__remove-btn {
  opacity: 1;
}
