.card[data-editable=true] {
  border: 1px solid var(--color-gray-2);
  border-radius: 5px;
  transition: box-shadow 0.2s ease-out;
}

.card[data-editable=true].card_1 {
  padding: 3px 7px;
}

.card[data-editable=true].card_2 {
  padding: 2px 4px;
}

.card[data-editable=true]:hover {
  box-shadow: 0 0 10px 0 var(--color-gray-1);
}
