* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

button:focus {
  outline: 0;
}

input {
  box-sizing: border-box;
  border: none;
}

input:focus {
  outline: none;
}

textarea {
  overflow: hidden;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  resize: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
