.toolbar {
  padding: 5px 10px;
  border: 1px solid var(--color-gray-2);
  border-radius: 3px;
}

.toolbar_position-tr {
  position: absolute;
  top: 20px;
  left: calc(var(--page-width) + 30px);
}

.toolbar__languages-actions {
  display: flex;
}

.toolbar__languages-actions > .toolbar__language {
  margin: 0 2px;
}
