.experience {
  position: relative;
}

.experience__description {
  width: 100%;
}

.experience > .experience__position,
.experience > .experience__company,
.experience > .experience__duration,
.experience > .experience__description {
  margin: 5px 0;
}

.experience__remove-btn {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  font-size: 1.3rem;
}

.experiences__add-btn {
  margin: 0 auto;
}
