.experience__title {
  color: var(--color-gray-1);
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}

.experience__item {
  margin-top: 10px;
}

.experience__item-title {
  margin: 5px 0;
  color: var(--color-black);
  font-size: 1.15rem;
}

.experience__item-title_lvl-1 {
  font-weight: bold;
  letter-spacing: 0.07rem;
}

.experience__item-title_lvl-2 {
  font-size: 1rem;
  font-weight: 100;
}

.experience__item-title_lvl-3 {
  color: var(--color-gray-1);
  font-size: 0.77rem;
  font-weight: 100;
}

.experience__item-discription {
  margin: 10px 0;
  color: var(--color-black);
  font-size: 1rem;
  line-height: 1.4rem;
}
