.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.main-info {
  width: 70%;
}

.another-info {
  width: 20%;
}

.about-me {
  color: var(--color-black);
  font-size: 1rem;
  line-height: 1.4rem;
}

.main-info__item:not(:first-child) {
  margin: 20px 0;
}

.main-info__item-title_lvl-1 {
  color: var(--color-gray-1);
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}

.main-info__item-title_lvl-2 {
  margin: 5px 0;
  color: var(--color-black);
  font-size: 1.15rem;
  letter-spacing: 0.07rem;
}

.main-info__item-title_lvl-3 {
  margin: 5px 0;
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 100;
}

.main-info__item-title_lvl-4 {
  margin: 5px 0;
  color: var(--color-gray-1);
  font-size: 0.77rem;
  font-weight: 100;
}

.main-info__discription {
  margin: 10px 0;
  color: var(--color-black);
  font-size: 1rem;
  line-height: 1.4rem;
}

.another-info__item:not(:first-child) {
  margin: 20px 0;
}

.another-info__title {
  color: var(--color-gray-1);
  font-size: 0.92rem;
  font-weight: bold;
  line-height: 1.4rem;
}

.another-info__desciption {
  color: var(--color-gray-1);
  font-size: 0.85rem;
  line-height: 1.4rem;
}
