.education {
  position: relative;
}

.education > .education__degree,
.education > .education__university,
.education > .education__duration {
  margin: 5px 0;
}

.education__remove-btn {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  font-size: 1.3rem;
}

.educations__add-btn {
  margin: 0 auto;
}
