.education {
  position: relative;
}

.education > *:not(button) {
  margin: 5px 0;
}

.education__remove-btn {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
}

.educations__add-btn {
  margin: 0 auto;
}
