.cv-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cv-header__left-side {
  width: 70%;
}

.cv-header__right-side {
  width: 20%;
}

.cv-header__title > * {
  display: block;
  margin: 5px 0;
  color: var(--color-black);
}

.cv-header__name {
  font-size: 2rem;
  font-weight: bold;
}

.cv-header__position {
  font-size: 1.7rem;
}
