.cv-wrapper {
  padding: 50px;
}

.cv-body {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.cv-main-info {
  width: 70%;
}

.cv-another-info {
  width: 20%;
}

.cv-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--page-width);
  height: var(--page-min-height);
  background: var(--color-white);
  color: var(--color-black);
  font-size: 1.5rem;
}

@media print {
  .toolbar {
    display: none;
  }
}
