.app {
  width: var(--page-width);
  min-height: var(--page-min-height);
  margin: 10px auto;
  background-color: var(--color-white);
}

.top-line {
  width: 100%;
  height: 4px;
  background-color: var(--color-black);
}

.cv {
  margin: 50px;
}
