:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-0: #e5e5e5;
  --color-gray-1: #73808d;
  --font-family: "Arial", sans-serif;
  --font-size: 13px;
  --page-width: 800px;
  --page-min-height: 900px;
  --header-height: 72px;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--color-gray-0);
}

a {
  color: var(--color-gray-1);
}

a:hover {
  color: var(--color-black);
}
