@import url(./styles/reset.css);
@import url(./styles/title.css);
@import url(./styles/card.css);
@import url(./styles/item.css);

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-0: #e5e5e5;
  --color-gray-1: #c7c7c7;
  --color-gray-2: #adadad;
  --color-gray-3: #73808d;
  --font-family: 'Arial', sans-serif;
  --font-size: 13px;
  --page-width: 800px;
  --page-min-height: 900px;
  --avatar-size: 72px;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--color-gray-0);
}

a {
  color: var(--color-gray-3);
}

a:hover {
  color: var(--color-black);
}

button {
  display: flex;
  align-items: center;
  color: var(--color-gray-3);
  fill: var(--color-gray-3);
}

button:hover {
  color: var(--color-black);
  fill: var(--color-black);
}

input:not([readonly]),
textarea:not([readonly]) {
  padding: 2px 4px;
  border: 1px solid var(--color-gray-2);
  border-radius: 3px;
  color: var(--color-black) !important;
}

input:not([readonly]):focus,
textarea:not([readonly]):focus {
  box-shadow: 0 0 4px 0 var(--color-gray-1);
  outline: none;
}
