:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-0: #e5e5e5;
  --color-gray-1: #73808d;
  --font-family: 'Arial', sans-serif;
  --font-size: 13px;
  --page-width: 800px;
  --page-min-height: 900px;
  --header-height: 72px;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--color-gray-0);
}

a {
  color: var(--color-gray-1);
}

a:hover {
  color: var(--color-black);
}

button {
  display: flex;
  align-items: center;
  color: var(--color-gray-1);
  fill: var(--color-gray-1);
}

button:hover {
  color: var(--color-black);
  fill: var(--color-black);
}

input:not([readonly]),
textarea:not([readonly]) {
  padding: 2px 4px;
  border: 1px solid rgba(21, 21, 21, 0.4);
  border-radius: 3px;
}

input:not([readonly]):focus,
textarea:not([readonly]):focus {
  box-shadow: 0 0 3px 0 #a7a7a7;
  outline: none;
}

.title {
  display: block;
  margin: 5px 0;
  color: var(--color-black);
  font-size: 1.15rem;
}

.title.title_0 {
  color: var(--color-gray-1);
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}

.title.title_1 {
  font-weight: bold;
  letter-spacing: 0.07rem;
}

.title.title_2 {
  font-size: 1rem;
  font-weight: 100;
}

.title.title_3 {
  color: var(--color-gray-1);
  font-size: 0.92rem;
  font-weight: 700;
}

.title.title_4 {
  color: var(--color-gray-1);
  font-size: 0.77rem;
  font-weight: 100;
}

.description {
  width: 100%;
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.4rem;
}

.description.description_1 {
  color: var(--color-gray-1);
  font-size: 0.85rem;
}

.item.item_1:not(:last-child) {
  margin-bottom: 20px;
}

.item.item_2:not(:last-child) {
  margin-bottom: 14px;
}
