.contacts__add-btn {
  margin: 5px auto 0;
}

.contact {
  position: relative;
}

.contact > .contact__title,
.contact > .contact__href {
  min-width: 100%;
}

.contact__remove-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
}
