.contacts__title {
  color: var(--color-gray-1);
  font-size: 0.92rem;
  font-weight: 700;
  line-height: 1.4rem;
}

.contact {
  color: var(--color-gray-1);
  font-size: 0.85rem;
  line-height: 1.4rem;
}
